* {
    box-sizing: border-box;
}

body{
    background-color: #013c25;
    margin:auto;
}

footer{
    text-align: center;
    font-size: small;
    padding-bottom:0%;
    color:aliceblue;
}

a:link, a:visited{
    text-decoration:none;
    color:aquamarine;
}

a:hover{
    color:white;
    font-weight: 200;
}

#humans {
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
}

#dont {
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
}

#bloom {
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
}

#humans2{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    filter:blur(4px);
}

#humans3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    filter:blur(4px);
}

#humans4 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
    filter:blur(3px);
}

#humans5 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    filter:blur(3px);
}

#humans6 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    filter:blur(2px);
}

#humans7 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    filter:blur(1px);
}

#humans8 {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);

}

#dont2{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.0);
    filter:blur(4px);
}

#dont3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    filter:blur(4px);
}

#dont4 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    filter:blur(4px);
}

#dont5 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
    filter:blur(3px);
}

#dont6 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
    filter:blur(3px);
}

#dont7 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    filter:blur(2px);
}

#dont8 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    filter:blur(2px);
}


#dont9 {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
   
}



.button{
    margin-bottom: 10%;
    text-align:center;
}

.humans, .bloom, .dont{
    text-align:center;
}

.byebye{
    display: none;
}

.wrapper {
    background-color: black;
    height:100%;
    width: auto;
    margin:15% 25% 2% 25%;
    text-align: center;
    padding: 1% 0%;
    font-size: xx-large;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    margin-top: 0%;
}


